@import url(promociones.css);
@font-face {
    font-family: Createland;
    src: url('./Fonts/Createland');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.encabezado{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1366px;
    height: 307px;
    background-color: rgba(24, 13, 85, 1);
    background-image: url(../Imagenes/fondo/Fondo\ menu.png);
}
.botones{
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    width: 1120px;
    height: 212px;
    /* background-color: aqua; */
}
.fila1{
    display: flex;
    justify-content: space-between;
    width: 1120px;
    height: 125px;
}
.fila2{
    display: flex;
    column-gap: 19px;
    width: 1120px;
    height: 61px;
}
.button{
    display: flex;
    column-gap: 10px;
    align-items: center;
    height: 61px;
    background-color: rgba(131, 116, 224, 1);
    border: none;
    padding: 0px 42px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-weight: bold;
}
.button:hover{
    background-color: rgba(246, 178, 216, 1);
    color: rgba(96, 95, 95, 1);
}
.button:focus{
    background-color:rgba(179, 160, 245, 1);
    color: black;
}
.iconos{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 21px;
}
/* .busqueda:hover, .registro:hover, .compra:hover{
    background-color: rgba(246, 178, 216, 1);
}
.busqueda, .registro, .compra{
    display: flex;
    align-items: center;
    height: 61px;
    padding: 20px 42px ;
    border-radius: 50px;
    background-color: rgba(131, 116, 224, 1);

} */

.contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 60px;
    width: 1366px;
    height: 2905px;
    background-color: rgba(24, 13, 85, 1);
    background-image: url(../Imagenes/fondo/textura.png);
    background-repeat: no-repeat;
    padding: 0;
    z-index: 1;
}
.hero{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1366px;
    height: 670px;
    background-color: #2F51C2;
    background-image: url(../Imagenes/Promociones/Promociones.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.fondo3{
    width: 1320px;
    height: 670px;
    z-index: 0;
}
.contetexto{
    width: 1120px;
    height: 200px;
    /* background-color: aqua; */
    z-index: 2;
    margin-top: -630px;
    color: #C2E9EE;
    font-family: Createland;
    font-size: 73px;
    text-align: right;
    line-height: 1;
}
.textos{
    font-family: Berlin Sans FB;
    font-size: 46px;
    color: #C2E9EE;
}
.conteimag{
    display: flex;
    column-gap: 30px;
    width: 920px;
    height: 400px;
    margin-left: -250px;
    margin-top: -400px;
    z-index: 1;
}
.signos{
    font-family: Createland;
    font-size: 300px;
    color: #C2E9EE;
}
.hero2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 1366px;
    height: 670px;
    background-color: #653DE3;
    padding: 0;
}
.conte{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 1366px;
    height: 670px;
    z-index: 2;
    margin-top: -612px;
    margin-right: 0;
    padding-left: 40px;
}

.helado2{
    z-index: 2;
}
.titulo{
    text-align: start;
    font-family: Createland;
    font-size: 105px;
    color: #FED3FF;
}
.titulo2{
    text-align: start;
    font-family: Createland;
    font-size: 80px;
    color: #6438E5;
}
.textop{
    margin-top: 90px;
    color: #6438E5;
    font-size: 48px;
    font-family: Berlin Sans FB;
}
.fondop{
    width: 1320px;
    height: 309px;
    z-index: 0;
}
.fondop2{
    width: 1320px;
    height: 478px;
    z-index: 1;
    margin-top: -118px;
}
.hero3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1366px;
    height: 670px;
    background-color: #F6B2D8;
    background-image: url(../Imagenes/Promociones/Fondo\ promo3_Promociones\ 3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.conte3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1320px;
    height: 600px;
    z-index: 2;
    margin-right: 20px;
    padding-left: 40px;
}
.titulo3{
    text-align: start;
    font-family: Createland;
    font-size: 105px;
    color: #6438E5;
    text-align: center;
    line-height: 1.2;
}
.titulo4{
    text-align: start;
    font-family: Createland;
    font-size: 195px;
    color: #6438E5;
    text-align: center;
    line-height: 1.2;
}
.texto2{
    color: #6438E5;
    font-size: 48px;
    font-family: Berlin Sans FB;
    text-align: center;
    line-height: 1.2;
}
.fecha{
    width: 1366px;
    margin-top: -20px;
    color: #6438E5;
    font-size: 34px;
    border-color: white;
    font-family: Berlin Sans FB;
    text-align: center;
    line-height: 1.2;
}

.footer{
    display: flex;
    justify-content: center;
    padding-top: 148px;
    width: 1366px;
    height: 350px;
    /* background-color: rgba(24, 13, 85, 1); */
    background-image: url(../Imagenes/fondo/Fondo\ footer.png);
    background-repeat: no-repeat;
    margin: 0;
}
.redes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1120px;
    height: 93px;
}
.face{
    display: flex;
    width: 302px;
    font-size: 30px;
    column-gap: 20px;
    color: rgba(197, 240, 244, 1);
    text-decoration: none;
}



@media screen and (max-width: 575px) {
    .encabezado{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 575px;
        height: 120px;
        background-image: url(../Imagenes/fondo/fondo\ menu\ responsive.png);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 4;
    }
    .botones{
        display: flex;
        flex-wrap: wrap;
        row-gap: 0px;
        width: 500px;
        height: 100px;
    }
    .fila1{
        display: flex;
        justify-content: space-between;
        width: 500px;
        height: 60px;
    }
    .fila2{
        display: flex;
        column-gap: 10px;
        width: 500px;
        height: 20px;
    }
    .button{
        display: flex;
        column-gap: 10px;
        align-items: center;
        height: 20px;
        background-color: rgba(131, 116, 224, 1);
        border: none;
        padding: 0px 15px;
        border-radius: 50px;
        text-decoration: none;
        font-size: 10px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: white;
        font-weight: bold;
    }
    .button:hover{
        background-color: rgba(246, 178, 216, 1);
        color: rgba(96, 95, 95, 1);
    }
    .button:focus{
        background-color:rgba(179, 160, 245, 1);
        color: black;
    }
    .iconos{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 21px;
    }
    .logo{
        width: 100px;
        height: 60px;
    }
    .ico{
        width: 10px;
        height: 10px;
    }


    .contenido{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 60px;
        width: 575px;
        height: 1358px;
        background-color: rgba(24, 13, 85, 1);
        background-image: url(../Imagenes/fondo/textura.png);
        background-repeat: no-repeat;
        padding: 0;
        z-index: 1;
    }
    .hero{
        display: flex;
        justify-content: center;
        width: 575px;
        height: 283px;
        background-color: #2F51C2;
        background-image: url(../Imagenes/Promociones/Promociones.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .fondo3{
        width: 575px;
        height: 283px;
        z-index: 0;
    }
    .contetexto{
        width: 575px;
        height: 200px;
        /* background-color: aqua; */
        z-index: 2;
        margin-top: -270px;
        color: #C2E9EE;
        font-family: Createland;
        font-size: 35px;
        text-align: right;
        line-height: 1;
    }
    .textos{
        font-family: Berlin Sans FB;
        font-size: 23px;
        color: #C2E9EE;
    }
    .conteimag{
        display: flex;
        column-gap: 10px;
        width: 390px;
        height: 170px;
        margin-left: -100px;
        margin-top: -170px;
        z-index: 1;
    }
    .signos{
        font-family: Createland;
        font-size: 130px;
        color: #C2E9EE;
    }
    
    .hero2{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-end;
        width: 575px;
        height: 283px;
        background-color: #653DE3;
        padding: 0;
    }
    .conte{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 575px;
        height: 283px;
        z-index: 2;
        margin-top: -250px;
        margin-right: 0;
        padding-left: 40px;
    }
    .fondop{
        width: 575px;
        height: 150px;
        z-index: 0;
    }
    .fondop2{
        width: 575px;
        height: 198px;
        z-index: 1;
        margin-top: -65px;
    }
    .helado2{
        width: 170px;
        height: 250px;
        z-index: 2;
    }
    .titulo{
    
        text-align: start;
        font-family: Createland;
        font-size: 40px;
        color: #FED3FF;
    }
    .titulo2{
        text-align: start;
        font-family: Createland;
        font-size: 30px;
        color: #6438E5;
    }
    .textop{
        margin-top: 60px;
        color: #6438E5;
        font-size: 18px;
        font-family: Berlin Sans FB;
    }
    
    .hero3{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 575px;
        height: 283px;
        background-color: #F6B2D8;
        background-image: url(../Imagenes/Promociones/Fondo\ promo3_Promociones\ 3.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .conte3{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 575px;
        height: 270px;
        z-index: 2;
        margin-right: 20px;
        padding: 0 30px;
    }
    .titulo3{
        text-align: start;
        font-family: Createland;
        font-size: 40px;
        color: #6438E5;
        text-align: center;
        line-height: 1.2;
    }
    .titulo4{
        text-align: start;
        font-family: Createland;
        font-size: 60px;
        color: #6438E5;
        text-align: center;
        line-height: 1.2;
    }
    .texto2{
        color: #6438E5;
        font-size: 20px;
        font-family: Berlin Sans FB;
        text-align: center;
        line-height: 1.2;
    }
    .fecha{
        width: 575px;
        margin-top: -20px;
        color: #6438E5;
        font-size: 18px;
        border-color: white;
        font-family: Berlin Sans FB;
        text-align: center;
        line-height: 1.2;
    }
    .helado3{
        width: 160px;
        height: 180px;
        z-index: 2;
    }

    .footer{
        display: flex;
        justify-content: center;
        padding-top: 55px;
        width: 575px;
        height: 150px;
        /* background-color: rgba(24, 13, 85, 1); */
        background-image: url(../Imagenes/fondo/fondo\ footer\ responsive.png);
        background-repeat: no-repeat;
        margin: 0;
        background-size: cover;
    }
    .logof{
        width: 150px;
        height: 36px;
    }
    .redes{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 535px;
        height: 60px;
    }
    .face{
        display: flex;
        width: 48px;
        font-size: 30px;
        column-gap: 20px;
        color: rgba(197, 240, 244, 1);
        text-decoration: none;
        margin: 0 40px;
    }
    .text{
        display: none;
    }
}